html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit; }

.iconClass, .fa.fa-shopping-cart, .fa.fa-pencil-square-o, .fa.fa-plus.admin, .fa.fa-reply {
  position: fixed;
  font-size: 2em; }

.hoverClass:hover, .fa.fa-shopping-cart:hover, .fa.fa-pencil-square-o:hover, .fa.fa-plus.admin:hover, .fa.fa-reply:hover, .fa.fa-times.cart:hover, .fa.fa-plus.cart:hover, .fa.fa-minus.cart:hover, .addCartButton:hover, .editProductButton:hover, .deleteProductButton:hover, #saveNewListingButton:hover {
  transform: scale(1.1, 1.1);
  cursor: pointer; }

.fa.fa-shopping-cart {
  top: 10px;
  right: 20px;
  color: #5bc0de; }

.fa.fa-pencil-square-o {
  bottom: 20px;
  right: 10px;
  color: #ec971f; }

.fa.fa-plus.admin {
  bottom: 20px;
  right: 50px;
  color: #5cb85c; }

.fa.fa-reply {
  top: 10px;
  right: 20px;
  color: #286090; }

.fa.fa-times.cart {
  color: #d9534f; }

.fa.fa-plus.cart {
  color: #286090; }

.fa.fa-minus.cart {
  color: #286090; }

#cart span {
  font-size: 1.5em; }

#cartTotal {
  text-align: right; }

ul {
  max-width: 68em;
  margin-left: auto;
  margin-right: auto;
  padding: 0; }
  ul::after {
    clear: both;
    content: "";
    display: table; }

.block {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 48.82117%;
  margin-right: 0;
  position: relative;
  margin-bottom: 150px; }
  .block:last-child {
    margin-right: 0; }

li {
  list-style-type: none; }

#addForm {
  display: block;
  margin: auto;
  width: 50%; }
  #addForm input, #addForm textarea {
    display: block;
    margin: 1em auto;
    width: 100%; }
  #addForm textarea {
    border-color: lightgrey;
    resize: none;
    height: 150px; }

img {
  width: 250px;
  height: 250px;
  margin-right: 20px; }

form {
  display: inline-block;
  vertical-align: top; }

legend {
  font-size: 2em;
  font-family: Helvetica; }

#mainUl input, #mainUl textarea {
  border: none;
  resize: none; }
#mainUl img, #mainUl .nameInput {
  cursor: pointer; }

#adminUl textarea {
  resize: none;
  border-color: lightgrey; }

.nameInput {
  font-size: 2em;
  display: block;
  font-weight: bold;
  width: 100%;
  margin: 9px 0; }

.imageInput {
  font-size: 1.1em;
  display: block;
  width: 100%; }

.descriptionInput {
  font-size: 1.1em;
  width: 100%;
  height: 75px;
  margin-bottom: 1em; }

.priceInput {
  display: block;
  font-size: 1.1em;
  margin: 9px 0;
  width: 100%; }

.addCartButton {
  background-color: #286090;
  padding: 10px 15px;
  color: white;
  border: none;
  border-radius: 1em;
  font-size: 1.1em;
  position: absolute;
  left: 0;
  bottom: 0; }

.editProductButton {
  background-color: #286090;
  padding: 10px 0;
  margin-right: 9%;
  width: 45%;
  color: white;
  border: none;
  border-radius: 1em;
  font-size: 1.1em; }

.deleteProductButton {
  background-color: #d9534f;
  padding: 10px 0;
  width: 45%;
  color: white;
  border: none;
  border-radius: 1em;
  font-size: 1.1em; }

#saveNewListingButton {
  background-color: #286090;
  padding: 10px 15px;
  color: white;
  border: none;
  border-radius: 1em;
  font-size: 1.1em; }
