@import "bower_components/bourbon/app/assets/stylesheets/_bourbon";
@import "bower_components/neat/app/assets/stylesheets/_neat";

.iconClass{
  position:fixed;
  font-size:2em;
}
.hoverClass{
  &:hover{
    transform:scale(1.1,1.1);
    cursor:pointer;
  }
}
.fa.fa-shopping-cart{
  @extend .iconClass;
  @extend .hoverClass;
  top:10px;
  right:20px;
  color:#5bc0de;
}
.fa.fa-pencil-square-o{
  @extend .iconClass;
  @extend .hoverClass;
  bottom:20px;
  right:10px;
  color:#ec971f;
}
.fa.fa-plus.admin{
  @extend .iconClass;
  @extend .hoverClass;
  bottom:20px;
  right:50px;
  color:#5cb85c;
}
.fa.fa-reply{
  @extend .iconClass;
  @extend .hoverClass;
  top:10px;
  right:20px;
  color:#286090;
}
.fa.fa-times.cart{
  color:#d9534f;
  @extend .hoverClass;
}
.fa.fa-plus.cart{
  color:#286090;
  @extend .hoverClass;
}
.fa.fa-minus.cart{
  color:#286090;
  @extend .hoverClass;
}
#cart{
  span{
    font-size:1.5em;
  }
}
#cartTotal{
  text-align:right;
}
ul,#detailWrapper{
  @include outer-container();
  padding:0;
}
.block{
  @include span-columns(6);
  @include omega();
  position:relative;
  margin-bottom:150px;
}
#detailBlock{
  @include span-columns(8);
  @include omega();
  position:relative;
  input, textarea{
    border:none;
    resize:none;
  }
}
#detailComments{
  @include span-columns(4);
  @include omega();
  position:relative;
  h1{
    font-family:Helvetica;
    font-size:2em;
    color:rgb(84, 84, 84);
    margin:9px 0;
  }
}
li{
  list-style-type:none;
}
#addForm{
  display:block;
  margin:auto;
  width:50%;
  input,textarea{
    display:block;
    margin:1em auto;
    width:100%;
  }
  textarea{
    border-color:lightgrey;
    resize:none;
    height:150px;
  }
}
img{
 width:250px;
 height:250px;
 margin-right:20px;
}
form{
 display:inline-block;
 vertical-align:top;

}

legend{
  font-size:2em;
  font-family:Helvetica;
}
#mainUl{
  input, textarea{
    border:none;
    resize:none;
  }
  img,.nameInput{
    cursor:pointer;
  }
}
#adminUl{
  textarea{
    resize:none;
    border-color:lightgrey;
  }
}
#commentsUl{
  width:100%;
  height:400px;
  border:1px solid lightgrey;
}
.nameInput{
  font-size:2em;
  display:block;
  font-weight:bold;
  width:100%;
  margin:9px 0;
}
.imageInput{
  font-size:1.1em;
  display:block;
  width:100%;
}
.descriptionInput{
  font-size:1.1em;
  width:100%;
  height:75px;
  margin-bottom:1em;
}
.priceInput{
  display:block;
  font-size:1.1em;
  margin:9px 0;
  width:100%;
}
#commentInput{
  width:100%;
  height:100px;
  font-size:1.1em;
}
#commenterInput{
  width:100%;
  margin: 9px 0;
  font-size:1.1em;
}
.addCartButton{
  background-color:#286090;
  padding:10px 15px;
  color:white;
  border:none;
  border-radius:1em;
  font-size:1.1em;
  position:absolute;
  left:0;
  bottom:0;
  @extend .hoverClass;
}
.editProductButton{
  background-color:#286090;
  padding:10px 0;
  margin-right:9%;
  width:45%;
  color:white;
  border:none;
  border-radius:1em;
  font-size:1.1em;
  @extend .hoverClass;
}
.deleteProductButton{
  background-color:#d9534f;
  padding:10px 0;
  width:45%;
  color:white;
  border:none;
  border-radius:1em;
  font-size:1.1em;
  @extend .hoverClass;
}
#saveNewListingButton{
  background-color:#286090;
  padding:10px 15px;
  color:white;
  border:none;
  border-radius:1em;
  font-size:1.1em;
  @extend .hoverClass;
}
#commentButton{
  background-color:#286090;
  padding:10px 15px;
  color:white;
  border:none;
  border-radius:1em;
  font-size:1.1em;
  @extend .hoverClass;
}
