<div ng-controller="MainController as mainCtrl">
  <i class="fa fa-reply" ng-click="mainCtrl.routeTo('/')"></i>
  <form id='addForm' ng-submit="adminCtrl.addProduct(newProduct)">
    <legend>New Product Listing</legend>
    <input type="text" ng-model="newProduct.name" placeholder="Product Name">
    <input type="text" ng-model="newProduct.image" placeholder="Image URL">
    <textarea ng-model="newProduct.description" placeholder="Description"></textarea>
    <input type="text" ng-model="newProduct.price" placeholder="Price">
    <button type="submit" id='saveNewListingButton'>Add New Listing</button>
  </form>
</div>
